<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" href="/icon.png">
		<!-- Primary Meta Tags -->
		<title>Volkschampagne — Verfrissend Eindejaarsbier</title>
		<meta name="title" content="Volkschampagne — Verfrissend Eindejaarsbier">
		<meta name="description" content="Volkschampagne is een speciaal Mokums eindejaarsbier gebrouwen voor iedereen die dit jaar niets te vieren heeft.">
		<link rel="canonical" href="https://volkschampagne.nl/"/>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://volkschampagne.nl/">
		<meta property="og:title" content="Volkschampagne — Verfrissend Eindejaarsbier">
		<meta property="og:description" content="Volkschampagne is een speciaal Mokums eindejaarsbier gebrouwen voor iedereen die dit jaar niets te vieren heeft.">
		<meta property="og:image" content="/screen.jpg">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://volkschampagne.nl/">
		<meta property="twitter:title" content="Volkschampagne — Verfrissend Eindejaarsbier">
		<meta property="twitter:description" content="Volkschampagne is een speciaal Mokums eindejaarsbier gebrouwen voor iedereen die dit jaar niets te vieren heeft.">
		<meta property="twitter:image" content="/screen.jpg">
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
